{% extends "layout.html" %}
{% load static %}

{% block css %}

  /* custom-styles */

  /* Override Pico CSS button styles */
  a[role="button"],
  input[type="submit"] {
      background-color: blue !important;
      /* Use !important to ensure it overrides existing styles */
      color: white;
      border-color: blue;
  }

  /* Optional: Change button hover and active states */
  a[role="button"]:hover,
  input[type="submit"]:hover {
      background-color: darkblue !important;
  }
{% endblock %}

{% block content %}

<h1> Welcome to QuickStatements 3.0 </h1>

<article>
  <a role="button" href="{% url 'new_batch' %}"> New batch </a>
</article>


<form id="batchForm">
  <fieldset role="group">
    <input id="batchInput" type="number" placeholder="Batch ID..." oninput="updateBatchForm()" required />
    <input type="submit" value="See batch details" />
  </fieldset>
</form>

<form id="userForm">
  <fieldset role="group">
    <input id="userInput" type="text" placeholder="Username..." oninput="updateUserForm()" required />
    <input type="submit" value="See batches by user" />
  </fieldset>
</form>

{% endblock %}

